/*
autor: Krzysztof Łokaj
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: separate; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}



small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:after { content: " "; display: block; clear: both; }


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap&subset=latin-ext');

body{
    font-family: 'Raleway', sans-serif;
}

header{
    background: #000000;
    padding: 15px 0;
}
.content{
    width: 1060px;
    margin: 0 auto;
}
a{
    cursor: pointer;
}
header,
header a{
    font-size: 1.3em;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    transition: color 100ms linear;
}
header nav a:hover{
    color: pink;
}
header h1{
    line-height: 2.7rem;
}
header h1 span{
    color: #24BA9F;
}
header .content{
    display: flex;
    justify-content: space-between;
}
header .content nav > ul > li{
    float: left;
    margin-left: 50px;
    position: relative;
}
header .content ul li a{
    padding: 5px;
    display: inline-block;
}
header ul ul{
    position: absolute;
    padding-top: 80px;
    top: 25px;
    display: none;
}
header ul ul li{
    background: #000000;
    padding: 10px;
    position: relative;
}
header ul ul li a{
    text-transform: capitalize;
}
header ul li:hover ul{
    display: block;
}
header ul ul li{
    position: relative;
}
header ul ul li:first-child::before{
    width: 30px;
    height: 30px;
    content: '';
    background: #000000;
    display: block;
    top: -13px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - 13px);
}
#slider{
    height: 500px;
    background: #fafafa;
    background: -moz-linear-gradient(top,  #fafafa 0%, #d2d1d9 100%);
    background: -webkit-linear-gradient(top,  #fafafa 0%,#d2d1d9 100%);
    background: linear-gradient(to bottom,  #fafafa 0%,#d2d1d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d2d1d9',GradientType=0 );

}
#slider .content{
    position: relative;
    height: 500px;
}
#slider .content #leftSlide{
    font-size: 50px;
    color: #24BA9F;
    text-decoration: none;
    position: absolute;
    left: -20px;
    padding: 20px;
    display: inline-block;
    top: 50%;
}
#slider .content #rightSlide{
    font-size: 50px;
    color: #24BA9F;
    text-decoration: none;
    right: -20px;
    position: absolute;
    padding: 20px;
    display: inline-block;
    top: 50%;
}
#slider .content{
    padding: 0 40px;
    box-sizing: border-box;
}
.slide{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 500px;
}
.slide img{
    width: 45%;
    height: auto;
}
.slide > div{
    width: 45%;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: center;
}
.slide > div h4{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 0.7em;
}
.slide > div h4 span{
    font-weight: bold;
    color: #24BA9F;
}
.slide > div p{
    line-height: 1.4em;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
.slide > div a{
    display: inline-block;
    padding: 10px 25px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #24BA9F;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 5px;
}
.section {
    height: 500px;
    /*width: 340px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.information {
    height: 226px;
    width: 350px;
    border: 1px solid grey;
}
.information#clair {
    width: 350px;
    border: 1px solid grey;
    background-image: url("../images/box1_img.jpg");
}
.information#margharita {
    width: 350px;
    border: 1px solid grey;
    background-image: url("../images/box2_img.jpg");
}
.informationTwo{
    height: 226px;
    width: 350px   ;
    border: 1px solid grey;
}
.informationTwo p {
    line-height: 1.4em;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
..informationTwoStyle {

}